<!-- Tic Tac Toe -->
<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title></title>
  <!--CSS-->
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="hover.css">
  <link href='http://fonts.googleapis.com/css?family=Lobster|Open+Sans' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <!--SCRIPTS-->
  <!--Angular-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <!--Firebase-->
  <script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
  <!--Other Stuff-->
  <script src="app.js"></script>
  <script src="script.js"></script>
  <script src="js/jquery-1.10.2.js"></script>
  <!--script src="js/bootstrap.min.js"></script-->
  <script src="js/jquery.easing.min.js"></script>
  <script src="scrolling-nav.js"></script>
</head>
<body ng-controller="myController">
  <header id="intro" class="page-scroll">
    <h1>Let's Play Tic Tac Toe!</h1>
  </header>
  <div class="container">
    <div class="player-1">
      <p>Who is player 1? <input class="grow" ng-model="player1" type="text" placeholder="Enter a name please"/></p>
      <div ng-show="player1" style="font-size:50px;"><p id="player-1"><strong>{{player1}}</strong> is X</p></div>
    </div>
    <div class="player-2">
      <p>Who is player 2? <input class="grow" ng-model="player2" type="text" placeholder="Enter a name please"/></p>
      <div ng-show="player2" style="font-size:50px;"><p id="player-2"><strong>{{player2}}</strong> is O</p></div>
    </div> 
    <div class="down-arrow page-scroll">
      <a href="#grid-scroll">
        <button>
          <i class="fa fa-angle-double-down fa-5x pulse"></i>
        </button>  
      </a>  
    </div> <!-- Down Arrow -->
  </div><!--Container-->
  <div class="grid-section">
    <div>Clicks: <span id="clicker">{{clickCount}}</span></div>
    <div class="grid-left" ng-show="player1"><p>{{player1}} is X</p></div>
    <div id="grid-scroll" class="grid">
      <div class="grow" id="box1"><input type="button" id="btn1" ng-click="clickBtn('btn1')">{{buttonClick(btn)}}</div>
      <div class="grow" id="box2"><input type="button" id="btn2" ng-click="clickBtn('btn2')">{{buttonClick(btn)}}</div>
      <div class="grow" id="box3"><input type="button" id="btn3" ng-click="clickBtn('btn3')">{{buttonClick(btn)}}</div>
      <div class="grow" id="box4"><input type="button" id="btn4" ng-click="clickBtn('btn4')">{{buttonClick(btn)}}</div>
      <div class="grow" id="box5"><input type="button" id="btn5" ng-click="clickBtn('btn5')">{{buttonClick(btn)}}</div>
      <div class="grow" id="box6"><input type="button" id="btn6" ng-click="clickBtn('btn6')">{{buttonClick(btn)}}</div>
      <div class="grow" id="box7"><input type="button" id="btn7" ng-click="clickBtn('btn7')">{{buttonClick(btn)}}</div>
      <div class="grow" id="box8"><input type="button" id="btn8" ng-click="clickBtn('btn8')">{{buttonClick(btn)}}</div>
      <div class="grow" id="box9"><input type="button" id="btn9" ng-click="clickBtn('btn9')">{{buttonClick(btn)}}</div>
    </div>
    <div class="grid-right" ng-show="player2"><p>{{player2}} is O</p></div>
    <div class="play-again page-scroll"><a href="#intro">New Player</div>
  </div>      
</body>
</html>