body {
  font-family: helvetica;
}

header {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;  
}

header p {
  font-size: 18px;
  padding: 10px;
}

header input {
  padding: 5px;
  font-size: 16px;
}

.container {
  width: 333px;
  height: 333px;
  border:1px solid black;
  display: inline;
  background-color: black;
  padding: 15px;
  position: absolute;
  margin: auto 450px;
}

/*.box {
  width: 450px;
  height: 450px;
  border:1px solid black;
  display: inline;
  background-color: black;
  padding: 0px;
  position: absolute;
}*/

#box1 {
  float: left;
}

#box2 {
  float: left;
}

#box3 {
  float: 
}

#box4 {
  float: left;
}

#box5 {
  float: left;
}

#box6 {
  float: left;
}

#box7 {
  float: left;
}

#box8 {
  float: left;
}

#box9 {
  float: left;
}

.container input {
  width: 100px;
  height: 100px;
  border:none;
  font-size: 60px;
  margin: 5px;
  padding: 0px;
}

.container input:hover {
  background-color: red;
}

button {
  width: 100px;
  height: 100px;
  border:none;
  font-size: 60px;
  margin: 20px;
  padding: 2px;
}

.grid {
  width: 400px;
  height: 400px;
  background: #eee;
  border:1px solid white; 
  display: inline-block;
  background-color: black;
  padding: 10px;
}